@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --border-thin: 1px solid #000000; 
    --border-radius: 8px;
    --btn-height: 56px;
    --btn-padding: 16px 10px;
    --btn-font-size: 20px;
}

/* common */
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font: 14px/22px Roboto, Arial, Helvetica, sans-serif;
}

header,
footer {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* header */
header {
    background: white;
    z-index: 999;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} *.

/* menu */
.main__menu {
    max-height: 72px;
    justify-content: center;
}

.main__menu,
.cat__menu {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    width: 1440px;
}

.cat__menu {
    max-height: 67px;
    background: linear-gradient(90.96deg, #0BC154 -0.22%, #16EAAB 148.85%);
}

.main__menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.main-item,
.cat-item,
.user-item {
    width: 50%;
}

.main-item,
.cat-item {
    justify-content: space-between;
}

.main-item li a {
    color: #252525;
    font-size: 16px;
    font-weight: 300;
}

.main-item li a:hover, 
.main-item li a.btn-active{
    font-size: var(--btn-font-size);
    font-weight: 400;
    color: #252525;
}

.user-item {
    justify-content: flex-end;
    margin-right: 24px;
}

.cat-item li a,
.user-item li a {
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
}

/* production (main page) */
main {
    margin: 0 auto;
}

.prod {
    margin: 0 auto; /* 125px auto - for sticky */
    width: 1440px;
    flex-direction: column;
}

.prod,
.prod__breadcrumb,
.prod__breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prod__breadcrumb,
.prod__breadcrumb ul {
    width: 100%;
    flex-direction: row;
}

.prod__breadcrumb ul {
    justify-content: start;
    vertical-align: middle;
    list-style: disc;
}

.prod__breadcrumb ul li {
    margin-left: 32px;
}

.prod__breadcrumb ul li a {
    color: #000000;
}

/* common prod wrapper*/
.prod__wrapper {
    width: 1382px;
    margin: 12px auto 0 24px;
}

/* prod carousel*/
.prod__carousel {
    position: relative;
    width: 1382px;
    height: 510px;
    overflow: hidden;
    border-bottom: var(--border-thin); 
}
  
.prod__carousel .prod__carousel-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.prod__carousel .prod__carousel-container .carousel-item {
    background-color: #ffffff;
    flex-shrink: 0;
    height: 510px;
    overflow: hidden;
    max-width: 100%;
}

/* prod info */
.prod__info {
    flex-direction: column;
}

.prod__info h1 {
    font-size: 64px;
    font-weight: 300;
}

.prod__info div:not(:first-child) {
    margin: 24px auto;
}

.prod__info-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod__info-price span {
    font-size: 40px;
    font-weight: 600;
}

button.buying {
    width: 686px;
    height: var(--btn-height);
    margin: 12px 0;
    padding: var(--btn-padding);
    color: #FFFFFF;
    font-size: var(--btn-font-size);
    font-weight: 600;
    background: linear-gradient(90.83deg, #0BC154 0.45%, #16EAAB 102.3%);
    border: none;
    border-radius: var(--border-radius);
}

/* prod size */
.prod__size-pics {
    width: 686px;
    height: 157px;
    margin-bottom: 12px;
    padding: 24px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.prod__size-pics div:not(:first-child) {
    margin-left: 25px;
}

.prod__size-pics .pics-item img {
    height: 157px;
    max-width: 100%;
    border: var(--border-thin);
    border-radius: var(--border-radius);
}

.prod__size-region {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
}

.prod__size-region ul {
    width: 686px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    font-size: 24px;
    font-weight: 400;
}

.prod__size-region ul li:not(:first-child) {
    margin-left: 24px;
}

.prod__size-region ul li a {
    color: #000000;
}

.prod__size-region ul li a:hover,
.prod__size-region ul li a:active,
.prod__size-region ul li a:focus {
    font-weight: 700;
}

.prod__size-button button {
    width: 333px;
    height: var(--btn-height);
    margin: 10px 0;
    padding: var(--btn-padding);
    color: #000000;
    font-size: var(--btn-font-size);
    font-weight: 400;
    background: none;
    border: var(--border-thin);
    border-radius: var(--border-radius);
}

.prod__size-button button:not(:nth-child(4n)) {
    margin-right: 10px;
}

.prod__size-feet {
    margin-bottom: 12px;
    padding: 24px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
}

.prod__size-feet label {
    margin-right: 394px;
}

.prod__size-feet span {
    color: #0BC154;
}

.prod__size-feet input {
    width: 333px;
    height: var(--btn-height);
    display: flex;
    justify-content: space-between;
    font-size: var(--btn-font-size);
    font-weight: 400;
    text-indent: 12px;
    border: var(--border-thin);
    border-radius: var(--border-radius);
}








