@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --border-thin: 1px solid #000000;
    --border-thinner: 1px solid #BABABA;
    --border-radius: 8px;
    --btn-height: 56px;
    --btn-padding: 16px 10px;
    --btn-font-size: 20px;
    --btn-gradient: linear-gradient(90.83deg, #0BC154 0.45%, #16EAAB 102.3%);
}

/* common */
html,
body {
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
}

body {
    font: 14px/22px Roboto, Arial, Helvetica, sans-serif;
}

header,
footer {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* header */
header {
    background: white;
    z-index: 999;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} *.

/* menu */
.main__menu {
    max-height: 72px;
    justify-content: center;
}

.main__menu,
.cat__menu {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    width: 1440px;
}

.cat__menu {
    max-height: 67px;
    background: linear-gradient(90.96deg, #0BC154 -0.22%, #16EAAB 148.85%);
}

.main__menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.main-item,
.cat-item,
.user-item {
    width: 50%;
}

.main-item,
.cat-item {
    justify-content: space-between;
}

.main-item li a {
    color: #252525;
    font-size: 16px;
    font-weight: 300;
}

.main-item li a:hover,
.main-item li a.btn-active {
    font-size: var(--btn-font-size);
    font-weight: 400;
    color: #252525;
}

.user-item {
    justify-content: flex-end;
    margin-right: 24px;
}

.cat-item li a,
.user-item li a {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

/* production (main page) */
main {
    margin: 0 auto;
}

.prod {
    margin: 0 auto; /* 125px auto - for sticky */
    width: 1392px;
    flex-direction: column;
}

.prod,
.prod__breadcrumb,
.prod__breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prod__breadcrumb,
.prod__breadcrumb ul {
    width: 100%;
    flex-direction: row;
}

.prod__breadcrumb ul {
    justify-content: start;
    vertical-align: middle;
    list-style: disc;
    margin-left: 8px;
}

.prod__breadcrumb ul li:not(:first-child) {
    margin-left: 32px;
}

.prod__breadcrumb ul li a {
    color: #000000;
}

/* common prod wrapper*/
.prod__wrapper {
    margin: 12px auto;
    width: 1392px;
}

/* prod carousel*/
.prod__carousel {
    position: relative;
    width: 1392px;
    height: 510px;
    overflow: hidden;
    border-bottom: var(--border-thin);
}

.prod__carousel .prod__carousel-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.prod__carousel .prod__carousel-container .carousel-item {
    background-color: #ffffff;
    flex-shrink: 0;
    height: 510px;
    overflow: hidden;
    max-width: 100%;
}

/* prod info */
.prod__info {
    flex-direction: column;
}

.prod__info h1 {
    font-size: 64px;
    font-weight: 300;
}

.prod__info div:not(:first-child) {
    margin: 24px auto;
}

.prod__info-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod__info-price span {
    font-size: 40px;
    font-weight: 600;
}

button.buying {
    width: 686px;
    height: var(--btn-height);
    margin: 12px 0;
    padding: var(--btn-padding);
    color: #FFFFFF;
    font-size: var(--btn-font-size);
    font-weight: 600;
    background: var(--btn-gradient);
    border: none;
    border-radius: var(--border-radius);
}

/* prod size */
.prod__size-pics {
    width: 686px;
    height: 157px;
    margin-bottom: 12px;
    padding: 24px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.prod__size-pics div:not(:first-child) {
    margin-left: 25px;
}

.prod__size-pics .pics-item img {
    height: 157px;
    max-width: 100%;
    border: var(--border-thin);
    border-radius: var(--border-radius);
}

.prod__size-region {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
}

.prod__size-region ul {
    width: 686px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    font-size: 24px;
    font-weight: 400;
}

.prod__size-region ul li:not(:first-child) {
    margin-left: 24px;
}

.prod__size-region ul li a {
    color: #000000;
}

.prod__size-region ul li a:hover,
.prod__size-region ul li a:active,
.prod__size-region ul li a:focus {
    font-weight: 700;
}

.prod__size-button button {
    width: 333px;
    height: var(--btn-height);
    margin: 10px 0;
    padding: var(--btn-padding);
    color: #000000;
    font-size: var(--btn-font-size);
    font-weight: 400;
    background: none;
    border: var(--border-thin);
    border-radius: var(--border-radius);
}

.prod__size-button button:not(:nth-child(4n)) {
    margin-right: 10px;
}

.prod__size-feet {
    margin-bottom: 12px;
    padding: 24px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
}

.prod__size-feet label {
    margin-right: 394px;
    margin-bottom: 1em;
}

.prod__size-feet span {
    color: #0BC154;
}

.prod__size-feet input {
    width: 333px;
    height: var(--btn-height);
    display: flex;
    justify-content: space-between;
    font-size: var(--btn-font-size);
    font-weight: 400;
    text-indent: 12px;
    border: var(--border-thin);
    border-radius: var(--border-radius);
}

.prod__size-basket button:not(:first-child) {
    margin-left: 32px;
    background: linear-gradient(90.83deg, #0BB6C1 0.45%, #16EA9E 102.3%);
}

button.after-size {
    width: 675px;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

/* description */
.prod__description {
    padding: 50px 0;
    border-top: var(--border-thinner);
    flex-direction: column;
    justify-content: center;
}

.prod__description-point {
    display: flex;
}

.prod__description-point ul {
    width: 543px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    border-bottom: var(--border-thinner);
}

.prod__description-point ul li:first-child {
    margin-left: -40px;
}

.prod__description-point ul li:not(:first-child) {
    margin-left: 48px;
}

.prod__description-point ul li a {
    color: #767676;
    font-size: 24px;
    font-weight: 500;
}

.prod__description-point ul li a:hover,
.prod__description-point ul li a:active,
.prod__description-point ul li a:focus {
    color: #000000;
    border-bottom: var(--border-thin);
}

.prod__description-about {
    width: 1039px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.prod__description-about h1 {
    margin: 0 auto 50px auto;
    font-size: 40px;
    font-weight: 600;
}

.prod__description-about p {
    margin: 0 auto;
    font-size: 24px;
    font-weight: 300;
    line-height: 29.05px;
}

.prod__description-character {
    width: 1039px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.prod__description-character div {
    width: 50%;
    font-size: 24px;
    font-weight: 300;
}

.prod__description-character div ul li,
.prod__description-character div p {
    margin-top: 2em;
    line-height: 29.05px;
}

/* related */
.prod__related {
    padding: 50px 0;
    border-top: var(--border-thinner);
}

.related-point ul {
    justify-content: space-around;
}

.related-point ul li a {
    padding: 0 21.5px;
}

.related-point ul li:not(:first-child) {
    margin-left: 24px;
}

.prod__related-card {
    width: 1392px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.related-item {
    width: 333px;
    height: 552px;
}

.related-item img {
    height: 333px;
}

.related-item img,
.related-item div,
.related-item button {
    width: 100%;
}

.item-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-card-info span {
    text-align: center;
}

.item-card-info span.card-info-price {
    font-size: 20px;
    font-weight: 600;
}

.item-card-info span.card-info-name {
    font-size: 20px;
    font-weight: 400;
}

.item-card-info span.card-info-size {
    color: #717171;
    font-size: 15px;
    font-weight: 700;
}

.item-card-info span.card-info-name,
.item-card-info span.card-info-size {
    margin-top: 1.2em;
}

@media screen and (max-width: 1080px) {
    .prod {
        margin-left: 2.5%;
    }
}